<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <img src="/assests/loginpage.jpg" alt="Login Image">
        <nav>
            <p><a href="/home">THE THRIFT STORE</a></p>
        </nav>
        <div class="middle-part">
            <h1>WELCOME BACK!</h1>
            <p>TO KEEP POSTED WITH US, SIGN UP WITH YOUR DETAILS</p>
        </div>
        <div class="login-page">
            <p>LOGIN</p>
            <form action="/login" method="POST">
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account yet? <a href="/register">Register</a></p>
        </div>
    </div>
</body>
</html>
